<div class="large-12 columns">
    <div class="card">
        <div class="result text-center">
            <h1>Quiz Results</h1>
            <span class="fi-trophy <%= get_badge(@score) %>"></span>
            <p id="score">Your score: <%= @score %>%</p>
            <p id="question">You answered <%= @correct %> out of <%= @total %> questions correctly and got a <%= get_badge(@score) %> trophy!</p>
            <p>You got <%= @points %> points!</p>
          <%= link_to share_quiz_path(@quiz), :class => "success button", :method=> :post do%>
            <i class='fi-share'></i>  Share result
          <% end %>
          <%= link_to "Take another quiz", quizzes_path, :class => "secondary button" %>
        </div>
    </div>
</div>