<div class="large-12 columns">
    <div class="card">
        <%= form_tag({:controller => "quizzes", :action => "answer"}, class: "ac-custom ac-checkbox ac-checkmark") do %>
            <h2 id="question"><%= @question.content %></h2>
            <% if @question.attachment? %>
              <%= image_tag @question.attachment.url %>
            <% end %>
            <ul>
           <% @question.answers.each do |answer| %>
                <li>
                <%= radio_button_tag(:answer, answer.id, checked = false, class:"check_this") %>
                <%= label_tag("answer_".concat(answer.id.to_s).to_sym, answer.content) %>
                </li>
          <% end %>
            </ul>
          <div class="row">
            <div class="small-12 large-8 columns">
                <div class="progress round">
                  <span class="meter" style="width: <%= @progress %>%"></span>
                </div>
            </div>
            <div class="small-12 large-2 columns">
                <%= submit_tag("Continue", :class => "expand round success disabled button") %>
            </div>

          </div>
        <% end %>
    </div>
</div>
