<div class="large-12 columns">
  <div class="card">
    <h1><%= @quiz.name %></h1>

    <ol class="questions">
    <!-- For each question in @quiz -->
    <% @quiz.questions.each do |question| %>
    <li>
      <!-- display the content -->
      <%= question.content %>
      <ol class="answers">
        <!-- For each answer associated with the question -->
        <% question.answers.each do |answer| %>
        <!-- display the content -->
        <li><%= answer.content %></li>
        <% end %>
      </ol>
    </li>
    <% end %>
  </ol>

  <%= link_to 'Edit', edit_quiz_path(@quiz) %> |
  <%= link_to 'Back to Quiz', quizzes_path %>
  </div>
</div>