<div class="medium-6 large-4 columns ">
	<div class="profile-card text-center radius">
		<div class="banner" style="<%= show_user_banner %>"></div>
		<%= image_tag @user.avatar.url(:thumb),:class=> "profile-feed" %>
		<h1><%= @user.full_name %></h1>
		<% if signed_in? %>	
			<div id="friend_status">
				<% unless @user == current_user %>
					<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
						<%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'tiny success round button' %>
					<% else %>
						<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'tiny success round button', id:'add_friendship', data: {friend_id: @user.to_param} %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div class="medium-6 large-8 columns">
	<div class="row status">
	<% if @statuses %>
		<% @statuses.each do |status|%>
			
				<div class="large-6 columns">
				  <div class="bannerhint" style="background-image:url('<%= status.user.banner.url(:normal)%>');"></div>
				  <div class="feed-card status">
					<div class="banner clearfix">
						<div class="postbox"><%=link_to image_tag(status.user.avatar.url(:thumb),:class=> "profile-feed"),profile_path(status.user) %></div>
							
				    	<div class="postbox"><h4><%= status.user.full_name %></h4>
				    		<small><%= link_to time_ago_in_words(status.created_at) + " ago", status %></small></div>
						<% if signed_in? && status.user == current_user %>
						  <div class="meta">
					      	<%= link_to '', edit_status_path(status) , :class=> "admin fi-wrench so-edit" %>  
					      	<%= link_to "", status,method: :delete, data: { confirm: 'Are you sure?' }, :class => "admin fi-x so-delete" %>
						  </div>
						<% end %>
					</div>
					
				    <div class="postcontent">
						<p><%= status.content %></p>
						<% if status.attachment? %>
							<span class="label">Attachment</span>
							<%= image_tag status.attachment.url %>
						<% end %>
					</div>
				    
				  </div>
				</div>
			
		<% end %>
	<% else %>
		<h2>Nothing here</h2>
	<% end %>
</div>
</div>