<div class="large-12 columns">
	<div class="card"><h1>Friends</h1>
	<dl class="sub-nav">
	  <dt>Filter:</dt>
	  <dd class="<%= 'active' if params[:list] == '' || params[:list].blank? %>"><%= link_to 'All', user_friendships_path %></dd>
	  <dd class="<%= 'active' if params[:list] == 'accepted' %>"><%= link_to 'Accepted', user_friendships_path(list: 'accepted') %></dd>
	  <dd class="<%= 'active' if params[:list] == 'pending' %>"><%= link_to 'Pending', user_friendships_path(list: 'pending') %></dd>
	  <dd class="<%= 'active' if params[:list] == 'requested' %>"><%= link_to 'Requested', user_friendships_path(list: 'requested') %></dd>
	  <dd class="<%= 'active' if params[:list] == 'blocked' %>"><%= link_to 'Blocked', user_friendships_path(list: 'blocked') %></dd>
	</dl>
<% @user_friendships.each do |friendship| %>
	<% friend = friendship.friend %>
	<div id="<%= dom_id(friendship) %>" class="friend row">
		<div class="medium-2 columns small-6"><%=link_to image_tag(friend.avatar.url(:thumb),:class=> "profile-feed"),profile_path(friend) %>
		</div>

		<div class="large-6 small-6 columns friend-deets">
			<h3><%= friend.full_name %></h3>
			<h4 class="subheader">Friendship is <%= friendship.state %></h4>.
		</div>
		<div class="medium-2 small-12 columns"><%= link_to "#{friendship.update_action_verbiage}", edit_user_friendship_path(friendship.friend.profile_name), class: "expand button #{friendship.button_class}" %>
		</div>
	</div>
<% end %>
	</div>
</div>