<div class="small-12 medium-6 large-4 columns small-centered text-center login-stuff" style="margin-top:50px;">
  <%= image_tag(asset_path 'logo-white.png') %>>
  <h2>Sign up</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),html: {class: "profile-card text-center radius", id:"form", autocomplete: "off"}) do |f| %>

    <div class="banner" style="background-image:url(<%= asset_path 'banner.jpg' %>)"></div>
    <%= image_tag 'avatar.png',:class=> "profile-feed" %>
    <%= f.error_notification %>
    <div class="form-inputs">

      <div class="pm-step"><p>What's your first name?</p>
        <%= f.input :first_name, :required => true, :autofocus => true %>
      </div>
      <div class="pm-step"><p>What's your last name?</p>
        <%= f.input :last_name, :required => true %>
      </div>
      <div class="pm-step"><p>What would you like to be known as?</p>
        <%= f.input :profile_name, :required => true %>
      </div>
      <div class="pm-step"><p>What's your email address?</p>
        <%= f.input :email, :required => true %>
      </div>
      <div class="pm-step"><p>Type a password (keep it safe!)</p>
        <%= f.input :password, :required => true %>
      </div>
      <div class="pm-step"><p>Type your password again.</p>
        <%= f.input :password_confirmation, :required => true %>
      </div>
      <div class="message-submit" style="display: none;">
        <h3>Signing you up!</h3>
      </div>
      <div id="description">
        <p class="muted"><input type="button" id="navigation" value="next"> or press tab</p>
      </div>
    </div>
  <% end %>
<div class="extra-links"><%= render "devise/shared/links" %></div>

</div>
