<div class="small-12 medium-6 large-4 columns small-centered text-center login-stuff" style="margin-top:50px;">
  <%= image_tag(asset_path 'logo-white.png') %>>
  <h2>Sign up</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),html: {class: "profile-card text-center radius", id:"form"}) do |f| %>

    <div class="banner" style="background-image:url(<%= asset_path 'banner.jpg' %>)"></div>
    <%= image_tag 'avatar.png',:class=> "profile-feed" %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <h3>Account creation currently disabled</h3>
    </div>
  <% end %>
<div class="extra-links"><%= render "devise/shared/links" %></div>

</div>
