<div class="large-12 columns">
	<div class="card boxie">
		<div class="row">
			<div class="medium-8 columns">
				<%= render partial: "greetings" %>
			</div>
			<div class="medium-4 columns">
			</div>
		</div>

	</div>
</div>
</div>
<div class="row">
<div class="large-12 columns">
	<div class="card">
		<%= simple_form_for(@status, :remote => true) do |f| %>
			<div class="row">
				<div class="small-12 columns input-box">
					<%= f.input_field :content, required: true, class: "new-status-box", placeholder: "Say something..." %>
					<small class="error">Can't be blank!</small>
				</div>
			</div>
			<div class="row">
				<div id="button-block" class="small-12 columns">
					<%= f.button :submit, :class=>"small success button" %>
					<%= link_to 'Cancel', '', :class=>"small secondary button", id: "cancel" %>
				</div>
			</div>
		<% end %>

	</div>
</div>
</div>
<div class="row feed" id="statuses">
<%= render @statuses %>
</div>
<div class="row">
<%= will_paginate(@statuses) %>




