<div class="small-12 medium-6 large-4 columns small-centered columns ">
	<div class="profile-card text-center radius">
		<div class="banner" style="background-image:url(<%= asset_path 'banner.jpg' %>)"></div>
		<%= avatar_profile_link @status.user,:class=> "profile-feed" %>
		<h1><%= @status.user.full_name %></h1>
		<h4><small><%= time_ago_in_words(@status.created_at) + " ago" %></small></h4>
		<p>
	      <%= @status.content %>
	    </p>
	    <% if @status.attachment? %>
	    	<%= image_tag @status.attachment.url %>
	    <% end %>
	    <div class="meta">
	      <%= link_to 'Back', statuses_path %>
	      <% if signed_in? && @status.user == current_user %>
	        |
	        <%= link_to "Edit", edit_status_path(@status) %> | 
	        <%= link_to "Delete", @status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
	      <% end %>
	    </div>
	</div>
</div>