<div class="large-12 columns">
    <div class="card">
        <div class="friend row">
            <div class="medium-8 columns small-6">
                <h1>Activities</h1>
            </div>
            <div class="small-12 medium-2 columns"><%= link_to 'Mark all read', all_read_activity_path(1), method: :post, :class => "expand alert button" %>
            </div>
        </div>
        <% @activities.each do |activity| %>
            <hr>
            <div class="friend row">
                <div class="medium-2 columns small-6">
                    <%=link_to image_tag(activity.user.avatar.url(:thumb),:class=> "profile-feed"),profile_path(activity.user) %>
                </div>
                <div class="medium-8 small-6 columns">
                    <h3 class="nomarg"><%= activity.user.full_name %></h3>
                    <h4><small><%= time_ago_in_words(activity.updated_at) + " ago" %></small></h4>
                    <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}",
                               locals: { activity: activity } %>
                </div>
                <div class="small-12 medium-2 columns">
                    <% if current_user.has_unread?(activity) %>
                        <%= link_to 'Read', read_activity_path(activity), method: :post, :class => "expand button", :id => "read-activity-id-#{activity.id}", remote: "true" %>
                    <% end %>
                </div>

            </div>
        <%end%>