<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body <% if !user_signed_in? %>style="background-image:url(<%= asset_path 'big-bg.jpg' %>)"<% end %>>
    <% if user_signed_in? %>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Social Network", feed_path %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <% if user_signed_in? %>
            <li class="profile-bar"><%= link_to current_user.full_name, edit_user_registration_path, html_options = {style:"background-image:url('#{current_user.gravatar_url_small}'); background-repeat:no-repeat; background-position:10px center;"} %></li>
            <li><%= link_to "Friends", user_friendships_path %></li>
            
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Register", register_path, class: "button success" %></li>
            <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div> <% end %>
    <div class="row">
      <div class="large-12 columns">
        <% flash.each do | type, message | %>
          <div class="alert-box <%= flash_class type %>" data-alert><%= message %><a href="#" class="close">&times;</a></div>
        <% end %>
      </div>
      
    
  </div>
  <div class="row">
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>