<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-image:url(<%= asset_path 'big-bg.jpg' %>)">
    <% if user_signed_in? %>
    <div class="contain-to-grid">
      <nav class="menu row">
        <section class="title medium-4 columns">
            <h1><%= link_to "Social Network", feed_path %></h1>
        </section>
        <section class="menu-section medium-8 columns">
          <ul class="right">
            <% if user_signed_in? %>
            <li><a href="#" data-dropdown="drop" class="dropdown profile-bar"><%= image_tag current_user.avatar.url(:thumb),:class=> "profile-feed menu" %><%= current_user.full_name %></a><br>
            <ul id="drop" data-dropdown-content class="f-dropdown">
              <li><%= link_to "View Profile", profile_path(current_user) %></li>
              <li><%= link_to "Edit Details", edit_user_registration_path %></li>
            </ul></li>
            <li><%= link_to "Friends", user_friendships_path %></li>
            
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Register", register_path, class: "button success" %></li>
            <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div> <% end %>
    <div class="row">
      <div class="large-12 columns">
        <% flash.each do | type, message | %>
          <div class="alert-box <%= flash_class type %>" data-alert><%= message %><a href="#" class="close">&times;</a></div>
        <% end %>
      </div>
      
    
  </div>
  <div class="row">
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>